* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'font1';
    src: url("font/Futura-Dem.ttf");
}

@font-face {
    font-family: 'font2';
    src: url("font/Futura-MedObl.ttf");
}

@font-face {
    font-family: 'font3';
    src: url("font/Futura-Med.ttf");
}

@font-face {
    font-family: 'font4';
    src: url("font/Futura-Lig.ttf");
}

@font-face {}

@font-face {}

@font-face {}

body {}

/*#header {}*/

.main-visual {
    /*    width: cover;*/
    height: 830px;
    background: #000 url(images/hero.jpg) center center no-repeat;
    background-size: cover;
    padding: 0;
}

.menu {
    float: right;
    padding-right: 3%;
}

.main-visual nav ul li {
    font-family: 'font1';
    color: #fff;
    float: left;
    display: inline-block;
    padding: 30px 20px;
    font-size: 28px;
}

.main-visual a {
    text-decoration: none;
    color: #fff;
}


.main-visual a:hover {
    color: #3e5ddb;
    transition: 0.5s;
}

.main-visual h1 {
    margin-top: 210px;
    text-align: center;
}

.main-visual h2 {
    margin-top: 0;
    text-align: center;
    color: #fff;
    font-size: 40px;
    font-family: 'font2';
}

.top-title {
    font-family: 'font3';
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    color: #3e5ddb;
    text-align: center;
    font-size: 50px;
}

#contents1 {
    height: 900px;
}

#contents1 a {
    text-decoration: none;
    padding: 7px 50px;
    color: #fff;
    font-size: 20px;
    border-radius: 13px;
    margin: 0 auto;
}

.button1 {
    background-color: #3e5ddb;
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 20%;
}

.button1:hover {
    box-shadow: 0 0 8px gray;
}

.button2 {
    background-color: #ffbf00;
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 20%;
}

button2:hover {
    box-shadow: 0 0 8px gray;
}

.block1 {
    width: 1000px;
    height: 400px;
    margin: 0 auto;
    margin-top: 20px;
}

.block2 {
    width: 1000px;
    height: 400px;
    margin: 0 auto;
    margin-top: 20px;
}

.box{
    width: 500px;
    height: 400px;
    float: left;
}

.img1 {
    display: block;
    margin: 0 auto;
}

.img2 {
    display: block;
    margin: 0 auto;
}

.text-box{
    width: 400px;
    margin: 0 auto;
}

.text-box p{
    line-height: 1.8;
}



#contents2 {
    height: 1000px;
    position: relative;
    padding: 10px 0px;

}


.courseMapBlock {
    display: flex;
    justify-content: center;
}

.courseBox {
    width: 250px;
    height: 380px;
    border-radius: 20px;
    margin: 15px 10px;
    background-color: #fff;
}

.courseIcon {
    height: 180px;
    margin: auto;
}

.courseIcon .iconImage {
    display: block;
    margin: auto;
    margin-top: 45px;
}

.courseBox p {
    text-align: center;
    margin: 0 auto;
}

.courseButton {
    width: 160px;
    text-decoration: none;
    display: block;
    margin: 0 auto;
    margin-top: 30px;
}

/*ここから！*/
.courseButton:hover {
    box-shadow: 0 0 12px gray;
}


#course1 {
    background-color: #e44c25;
}

#course2 {
    background-color: #28a9df;
}

#course3 {
    background-color: #333333;
}

#course4 {
    background-color: #FF5252;
}

#course5 {
    background-color: #FED701;
}

#course6 {
    background-color: #FE7536;
}

#course7 {
    background-color: #73CEDD;
}

.courseBox a {
    text-decoration: none;
    padding: 10px;
    color: #fff;
    font-size: 15px;
    border-radius: 7px;
    border: none;
    text-align: center;
}

#particles {
    width: 100%;
    height: 1050px;
    margin: 0 auto;
    background-color: #d5e6f9;
    position: absolute;
    top: 0;
    z-index: -1;
}

#contents3 {
    height: 400px;
    width: 80%;
    margin: 0 auto;
}

#contents4 {
    height: 600px;
}

.map {
    display: block;
    margin: 0 auto;
}

#footer {
    font-family: 'font3';
    height: 40px;
    text-align: center;
    color: #3e5ddb;
    font-size: 18px;
}
